<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心-小米商城</title>
		<base href="../">
		<link rel="short icon" href="./images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<!-- 收藏夹图标 -->
		<link rel="shortcut icon" href="./images/favicon.ico">
		<!-- 先引入重置的CSS样式文件 -->
		<link rel="stylesheet" href="./css/reset.css">
		<!-- 引入字体图标的css文件 -->
		<link rel="stylesheet" href="./css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="./css/index.css">
	</head>
	<body>
	<!-- start header -->
		
		<header>
			<div id="login_info">
		<!-- 顶部导航 start -->
		<div class="header_bar">
			<div class="header con_width">
				<!-- 左侧菜单 -->
				<div class="header_nav">
					<ul>
						<li><a href="#">小米商城</a></li>
						<li><a href="#">MIUI</a></li>
						<li><a href="#">IoT</a></li>
						<li><a href="#">云服务</a></li>
						<li><a href="#">金融</a></li>
						<li><a href="#">有品</a></li>
						<li><a href="#">小爱开放平台</a></li>
						<li><a href="#">企业团购</a></li>
						<li><a href="#">资质证照</a></li>
						<li><a href="#">协议规则</a></li>
						<li><a href="#">下载app</a></li>
						<li><a href="#">Select Location</a></li>
					</ul>
				</div>
				<!-- 右侧购物车 -->
				<div class="header_shopcart">
					<div class="shopcart_logo">
						<a href="front/gouwuche.html">
							<i class="iconfont icon-cart"></i>
							购物车（{{cartCount}}）	
						</a>
						<div class="shopcart-info">
							<p>
								购物车中还没有商品，赶紧选购吧!
							</p>
						</div>
					</div>
				</div>
				<!--右侧登录、注册-->
				<div class="user-auction" v-if="onlogin">
					<ul>
						<li><div class="header_user">
								<div class="user_logo">
									<a href="#">{{loginName}}</a>
									<div class="user_info">
										<ul><li><a href="front/self_info.html" target="_blank">个人中心</a></li></ul>
										<ul><li><a href="front/order.html" target="_blank">我的订单</a></li></ul>
										<ul><li><a href="javascript:void(0);" target="_blank">我的喜欢</a></li></ul>
										<ul><li><a href="" target="_blank">退出登录</a></li></ul>
									</div>
								</div>
						</div></li>
						<li><a href="./register.html" target="_blank">注册</a></li>
						<!--<li><a href="#">消息通知</a></li>-->
					</ul>
				</div>
				<div class="user-auction" v-else="onlogin">
					<ul>
						<li><a href="./login.html" target="_blank">登录</a></li>
						<li><a href="./register.html" target="_blank">注册</a></li>
						<!--<li><a href="#">消息通知</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		</div>
		</header>
		
	<!--end header -->
	<!-- start banner_x -->
		<!-- 主体导航 start -->
		<div id="app">
		<div class="main_nav con_width">
			<div class="logo">
				<img src="./images/mi-logo.png" alt="MIlogo" title="小米官网">
			</div>
			<a href=""><div class="runlogo"></div></a>
			<div class="nav">
				<ul>
					<li v-for="type in types"><a href="./liebiao.html" target="_blank" >小米{{type.tname}}</a>
						<div class="nav_item">
							<div class="nav_item_con con_width">
								<ul>
									<li  v-for="good in goods" v-if="good.tno == type.tno">
										<a :href="'xiangqing.html#' +good.pid + '&'" class="nav_item_con_img">
											<img :src="good.pics.split(',')[0]" />
										</a>
										<a :href="'xiangqing.html#' +good.pid + '&'" class="nav_item_con_name">{{good.pname}}</a>
										<p>{{good.price}}元起</p>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="#">服务</a></li>
					<li><a href="#">社区</a></li>
				</ul>
			</div>
			<!-- 搜索部分 start -->
			<div class="search_box">
					<input type="search" name="search" class="search" />
					<button onclick="Search()" >
						<i class="iconfont icon-sousuo" ></i>
					</button>
			</div>
			<!-- 搜索部分 end -->
		</div>
		</div>
		<!-- 主体导航 end -->
<!-- end banner_x -->
<!-- self_info -->
	<div id="self">
	<div class="grzxbj">
		<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="./dingdanzhongxin.html" >我的订单</a></li>
					<li><a href="">意外保</a></li>
					<li><a href="">团购订单</a></li>
					<li><a href="">评价晒单</a></li>
				</ul>
			</div>
			<div class="ddzx btn active">个人中心</div>
			<div class="subddzx">
				<ul>
					<li><a @click="change" href="javascript:void(0);" class="btn">账户信息</a></li>
					<li><a href="">消息通知</a></li>
					<li><a href="">优惠券</a></li>
					<li><a @click="lookaddr" href="javascript:void(0);" class="btn">地址管理</a></li>
				</ul>
			</div>
		</div>
	
		<form action="" id="changes">
		<div class="rtcont fr show ">
			<img alt="米兔" src="./images/mitu_self.jpg">
		</div>
		
		
		<div class="rtcont fr">
			<div class="grzlbt ml40" ><a href="javascript:void(0);">我的资料</a></div>
			<div class="clear"></div>
			<div class="subgrzl ml40"><span>昵称</span><input v-model="name" readOnly="readOnly" required="required" type="text" id="s1"/></div>
			<div class="subgrzl ml40"><span>密码</span><input v-model="pwd" readOnly="readOnly" required="required" type="password" id="s2"/></div>
			<div class="subgrzl ml40">
				<div class="choose">
					<div class="xu fl">性别 <select v-model="sex">
						<option value="男">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男&nbsp;&nbsp;</option>
						<option value="女">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;女&nbsp;&nbsp;</option>
						<option value="保密">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保密&nbsp;&nbsp;</option>
					</select></div>
				</div>
			</div>
			<div class="subgrzl ml40"><span>手机号</span><input v-model="tel" readOnly="readOnly" required="required" type="text"  id="s4"/></div>
			<div class="subgrzl ml40"><span>邮箱</span><input v-model="email" readOnly="readOnly" required="required" type="text" id="s5"/></div>
			<div class="subgrzl ml40"><span>兴趣爱好</span><input v-model="hobby" readOnly="readOnly" required="required" type="text" id="s6"/></div>
			<div class="login_button"><input class="button1 fl" type="button" value="修改信息" id="c1"/></div>
			<div class="login_button"><input @click="save" id="c2" class="button2" type="button" value="确认修改"/></div>
		</div>
	
		<div class="rtcont fr">
			<div class="grzlbt ml40" ><a href="javascript:void(0);">收货地址</a></div>
			<div class="clear"></div>
			<div class="subgrzl ml40"><span>收货人</span><input v-model="aname" readOnly="readOnly" required="required" type="text" id="s7"/></div>
			<div class="subgrzl ml40"><span>邮政编码</span><input v-model="postcode" readOnly="readOnly" required="required" type="text" id="s8"/></div>
			<div class="subgrzl ml40">
				<div class="choose">
					<div class="xu fl">省份：<select v-model="province" id="province"><option value="">--请选择--</option></select></div>
					<div class="xu fl">城市：<select v-model="city" id="city"><option value="">--请选择--</option></select></div>
					<div class="xu fl">县、地区：<select v-model="area" id="area"><option value="">--请选择--</option></select></div>
				</div>
			</div>
			<div class="subgrzl ml40"><span>详细地址</span><input v-model="addr" readOnly="readOnly" required="required" type="text" id="s9"/></div>
			<div class="subgrzl ml40"><span>手机号码</span><input v-model="atel" readOnly="readOnly" required="required" type="text" id="s10"/></div>
			<div class="subgrzl ml40"><span>收货地址</span><input v-model="alladdr" readOnly="readOnly" required="required" type="text" id="s13"/></div>
			<div class="login_button"><input  class="button1 fl" type="button" value="修改信息" id="c3"/></div>
			<div class="login_button"><input @click="saveaddr" class="button2" type="button" value="确认修改" id="c4"/></div>
		</div>
		<div class="clear"></div>
		</form>
	</div>
	</div>
	</div>
<!-- self_info -->
		
<!-- 底部说明 start -->
<div class="footer_desc">
	<div class="footer_desc_con con_width">
		<div class="logo">
			<img src="./images/mi-logo.png" alt="MIlogo" title="小米官网">
		</div>
		<div class="desc_con_item">
			<div class="desc_con_item_detail clearfix">
				<ul>
					<li><a href="#">小米商城</a></li>
					<li><a href="#">MIUI</a></li>
					<li><a href="#">米家</a></li>
					<li><a href="#">多看</a></li>
					<li><a href="#">游戏</a></li>
					<li><a href="#">政企服务</a></li>
					<li><a href="#">小米天猫店</a></li>
					<li><a href="#">小米集团隐私政策</a></li>
					<li><a href="#">小米商城用户协议</a></li>
					<li><a href="#">问题反馈</a></li>
					<li><a href="#">Select Location</a></li>
				</ul>
			</div>
			<p class="desc_con_txt">
				&copy;<a href="#">mi.com</a> 京ICP证110507号 
				<a href="#">京ICP备10046444号</a>
				<a href="#">京公网安备11010802020134号 </a>
				<a href="#">京网文[2017]1530-131号</a>
				<br/>
				 违法和不良信息举报电话：171-5104-4404&nbsp;<a href='' target="_blank">知识产权侵权投诉</a>&nbsp;本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
			</p>
		</div>
		<div class="desc_con_links">
			<img src="./images/links/truste.png"/>
			<img src="./images/links/v-logo-2.png"/>
			<img src="./images/links/v-logo-1.png"/>
			<img src="./images/links/v-logo-3.png"/>
			<img src="./images/links/ba10428a4f9495ac310fd0b5e0cf8370.png"/>
		</div>
	</div>
	<!--<div class="slogan ir con_width">探索黑科技，小米为发烧而生！</div>-->
</div>
<!-- 底部说明 end -->
	</body>
	<script type="text/javascript" charset="utf-8" src="./js/index.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/axios.js"></script>
	<script type="text/javascript" src="js/qs.js"></script>
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="js/checklogin.js"></script>
	<script type="text/javascript" src="js/self.js"></script>
	<script type="text/javascript" src="js/linkage.js"></script>
	<script type="text/javascript">
	let self = new Vue({
		el: "#self",
		data:{
			name: "",
			pwd: "",
			sex: "",
			tel: "",
			email: "",
			hobby: "",
			aname: "",
			postcode: "",
			province: "",
			city: "",
			area: "",
			addr: "",
			atel: "",
			alladdr: ""
		},
		methods:{
			change:function(){
				axios.post("selfinfo", qs.stringify({op:"findByUid",uid:login.$data.loginId})).then(result => {
					if (result.data.code == 200) {
						console.info("获得了");
						this.name = result.data.data.uname;
						this.pwd = result.data.data.pwd;
						this.sex = result.data.data.sex;
						this.tel = result.data.data.tel;
						this.email = result.data.data.email;
						this.hobby = result.data.data.hobby;
					} else {
						alert("未查到用户信息");
					}
				})
			},
			save:function(){
				console.info("这是" + this.sex + "值");
				axios.post("selfinfo",qs.stringify({op:"saveinfo",uname:this.name,pwd:this.pwd,sex:this.sex,tel:this.tel,email:this.email,hobby:this.hobby,uid:login.$data.loginId})).then(result =>{
					if (result.data.code == 201) {
						alert("修改成功！");
					} else {
						alert("请重试！");
					}
				})
			},
			lookaddr:function(){
				axios.post("selfinfo", qs.stringify({op:"findAddrByUid",uid:login.$data.loginId})).then(result =>{
					if (result.data.code == 202) {
						console.info("已经查询到个人信息");
						this.aname = result.data.data.name;
						this.postcode = result.data.data.postcode;
						this.province = result.data.data.province;
						this.city = result.data.data.city;
						this.area = result.data.data.area;
						this.addr = result.data.data.addr;
						this.atel = result.data.data.tel;
						this.alladdr = this.province +""+ this.city +""+ this.area +""+ this.addr;
						console.info(this.alladdr);
					} else {
						alert("未查询到地址信息");
					}
				})
			},
			saveaddr:function(){
				
				this.alladdr = this.province +""+ this.city +""+ this.area +""+ this.addr;
				axios.post("selfinfo",qs.stringify({op:"saveaddr",name:this.aname,postcode:this.postcode,province:this.province,city:this.city,area:this.area,addr:this.addr,tel:this.atel,uid:login.$data.loginId})).then(result =>{
					if (result.data.code == 203) {
						alert("地址修改成功！");
					} else {
						alert("请重试！");
					}
				})
			}
		}
	})
	
		$("#c1").click(function(){
			alert("现在修改资料");
			$("#s1").removeAttr("readOnly");
			$("#s2").removeAttr("readOnly").attr("type","text");
			$("#s3").removeAttr("readOnly");
			$("#s4").removeAttr("readOnly");
			$("#s5").removeAttr("readOnly");
			$("#s6").removeAttr("readOnly");
		});
			
		$("#c2").click(function(){
			$("#s1").attr("readOnly","readOnly");
			$("#s2").attr("readOnly","readOnly").attr("type","password");
			$("#s3").attr("readOnly","readOnly");
			$("#s4").attr("readOnly","readOnly");
			$("#s5").attr("readOnly","readOnly");
			$("#s6").attr("readOnly","readOnly");
		});
		
		$("#c3").click(function(){
			alert("修改地址");
			$("#s7").removeAttr("readOnly");
			$("#s8").removeAttr("readOnly");
			$("#s9").removeAttr("readOnly");
			$("#s10").removeAttr("readOnly");
		});
		$("#c4").click(function(){
			$("#s7").attr("readOnly","readOnly");
			$("#s8").attr("readOnly","readOnly");
			$("#s9").attr("readOnly","readOnly");
			$("#s10").attr("readOnly","readOnly");
		});
		
		//获取页面的每个按钮
		var btns = document.getElementsByClassName("btn");
		//获取内容盒子
		var contents = document.getElementsByClassName("rtcont");
	　　　　　//遍历每个按钮为其添加点击事件
	   		for(var i=0;i<btns.length;i++){
	            btns[i].index = i;
	            btns[i].onclick = function(){
	　　　　　　　　　　//对当前点击的按钮赋予active类名及显示当前按钮对应的内容
	                for(var j=0;j<btns.length;j++){
						btns[j].className = btns[j].className.replace(' active', '').trim();
	                    contents[j].className = contents[j].className.replace(' show', '').trim();
	                }
					this.className = this.className + ' active';
	                contents[this.index].className = contents[this.index].className + ' show';
	            };
	        }
	</script>
</html>